:root {
  background-image: url('C:\Users\vetri\OneDrive\Desktop\WARGERS\WARGERS\src\images\cover.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  margin: 0;
  padding: 0;

}

